<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <!-- Feel free to change these values, but do not delete any of the keys! -->
  <!-- I might even suggest you make a backup of this config file before you start hacking on it. -->
  <appSettings>
    <!-- These keys define the window title, icon, logo graphic, etc. -->
    <add key="MainFormTitle" value="Active Directory User Management" />
    <add key="MainFormIcon" value="Resources\user.ico" />
    <add key="MainFormLogo" value="Resources\defaultLogo.png" />
    <add key="AboutPage" value="Resources\about.html" />
    <add key="SearchIcon" value="Resources\search.png"/>
    <!-- These keys define attributes that are required when creating a new user. -->
    <add key="givenNameRequired" value="true" />
    <add key="middleNameRequired" value="false" />
    <add key="surnameRequired" value="true" />
    <add key="initialsRequired" value="false" />
    <add key="displayNameRequired" value="false" />
    <add key="emailAddressRequired" value="false" />
    <add key="employeeIDRequired" value="true" />
    <add key="employeeNumberRequired" value="false" />
    <add key="descriptionRequired" value="false" />
    <add key="userPrincipalNameRequired" value="false" />
    <add key="telephoneNumberRequired" value="false" />
    <!-- These keys define regex patterns that the attributes must match. All regexes ignore case *except* password. -->
    <!-- If no regex matching is needed, use (.+) (match anything.) A great website for testing regex expressions is www.regexr.com -->
    <add key="givenNameRegex" value="(.+)" />
    <add key="middleNameRegex" value="(.+)" />
    <add key="surnameRegex" value="(.+)" />
    <add key="initialsRegex" value="(.+)" />
    <add key="displayNameRegex" value="(.+)" />
    <add key="emailAddressRegex" value="[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}" />
    <add key="employeeIDRegex" value="\b[vz]\d{6}\b" />
    <add key="employeeNumberRegex" value="\b\d{10}\b" />
    <add key="descriptionRegex" value="(.+)" />
    <add key="sAMAccountNameRegex" value="(.+)" />
    <!-- sAMAccountName is always required, but we can customize the format. -->
    <add key="passwordRegex" value="(.+)" />
    <!-- Customize the password requirements beyond the default domain policy. -->
    <add key="userPrincipalNameRegex" value="[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}" />
    <add key="telephoneNumberRegex" value="(.+)" />
    <!-- All employees in an organization often share the same email address suffix. Specify that here to auto-populate the form. The value can also be left blank. -->
    <add key="emailAddressSuffix" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>